In [83]:
import pandas as pd
import numpy as np 
import ast
import json

CommunityToPoliceDistrict = []
with open('PoliceDistrictToCommunityNamesOutput.txt') as fp:
    for line in fp:
        communityNum, communityName, policeDist  = line.strip().split(":")
        communityName = communityName.strip()
        CommunityToPoliceDistrict.append({"Community Area": float(communityNum), "Community_Name": communityName,
                                         "Police_District": policeDist})

CommunityPoliceDistrictDF = pd.DataFrame(CommunityToPoliceDistrict)
CommunityPoliceDistrictDF.head()

   Community Area  Community_Name Police_District
0             1.0     ROGERS PARK              24
1             2.0      WEST RIDGE              24
2             3.0          UPTOWN              23
3             4.0  LINCOLN SQUARE              20
4             5.0    NORTH CENTER              19

In [111]:
CrimeData = pd.read_csv("Crimes2001_2020.csv",
                       dtype={'ID': int, 'Case Number' : str, 'Date' : str, 'Block' : str, 
                             'IUCR' : str, 'Primary Type' : str, 'Description' : str, 
                             'Location Description' : str, 'Arrest' : str, 'Domestic' : str, 'Beat' : str, 
                             'District' : float, 'Ward' : float, 'Community Area' : float, 'FBI Code' : str, 
                              'X Coordinate' : str, 'Y Coordinate' : str, 'Year' : int,'Updated On' : str,
                             'Latitude' : str, 'Longitude' : str, 'Location' : str})

CrimeData = CrimeData.drop(['X Coordinate', 'Y Coordinate', 'Latitude', 'Longitude', 'Location'], axis = 1)
First100CrimeData = CrimeData[:100]
First100CrimeData = First100CrimeData.join(CommunityPoliceDistrictDF.set_index('Community Area'), on='Community Area')
print(First100CrimeData.columns)

999
Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On',
       'Community_Name', 'Police_District'],
      dtype='object')

In [85]:
# Used to Extract the data from the Socio Economic CSV File 
# To train our program what specific communities are better or worse off than average
import pandas as pd 
import numpy as np 

# We can use .describe() to find the benchmark levels of poverty per community. Compare community to the average and give weightage 
columns = [
'Community Area',
'community_area_name', 
'%_housing_crowded', 
'%_households_below_poverty', 
'%_age16_unemployed',
'%_age25_nohighschool',
'%_not_working_age',
'per_capita_income',
'hardship_index']

SocioeconomicData = pd.read_csv("SocioeconomicData.csv")
SocioeconomicData.columns = columns

First100CrimeData = First100CrimeData.join(SocioeconomicData.set_index('Community Area'), on='Community Area')

print(First100CrimeData.columns)
print(First100CrimeData.head())

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On',
       'Community_Name', 'Police_District', 'community_area_name',
       '%_housing_crowded', '%_households_below_poverty', '%_age16_unemployed',
       '%_age25_nohighschool', '%_not_working_age', 'per_capita_income',
       'hardship_index'],
      dtype='object')
         ID Case Number           Date                 Block  IUCR  \
0  11034701    JA366925   1/1/01 11:00       016XX E 86TH PL  1153
1  11227287    JB147188   10/8/17 3:00    092XX S RACINE AVE   281
2  11227583    JB147595  3/28/17 14:00       026XX W 79TH ST   620
3  11227293    JB147230   9/9/17 20:17  060XX S EBERHART AVE   810
4  11227634    JB147599  8/26/17 10:00   001XX W RANDOLPH ST   281

          Primary Type                          Description  \
0   DECEPTIVE PRACTICE  FINANCIAL IDENTITY THEFT OVER $ 300
1  CRIM SEXUAL ASSAULT                       NON-AGGRAVATED
2             BURGLARY                       UNLAWFUL ENTRY
3                THEFT                            OVER $500
4  CRIM SEXUAL ASSAULT                       NON-AGGRAVATED

  Location Description Arrest Domestic  ...      Community_Name  \
0            RESIDENCE  FALSE    FALSE  ...         AVALON PARK
1            RESIDENCE  FALSE    FALSE  ...  WASHINGTON HEIGHTS
2                OTHER  FALSE    FALSE  ...             ASHBURN
3            RESIDENCE  FALSE    FALSE  ...            WOODLAWN
4          HOTEL/MOTEL  FALSE    FALSE  ...                LOOP

   Police_District  community_area_name  %_housing_crowded  \
0                4          Avalon Park                1.4
1               22    Washington Height                1.1
2                8              Ashburn                4.0
3                3             Woodlawn                2.9
4                1                 Loop                1.5

  %_households_below_poverty  %_age16_unemployed %_age25_nohighschool  \
0                       17.2                21.1                 10.6
1                       16.9                20.8                 13.7
2                       10.4                11.7                 17.7
3                       30.7                23.4                 16.5
4                       14.7                 5.7                  3.1

  %_not_working_age per_capita_income hardship_index
0              39.3             24454           41.0
1              42.6             19713           48.0
2              36.9             23482           37.0
3              36.1             18672           58.0
4              13.5             65526            3.0

[5 rows x 27 columns]

In [86]:
import pandas as pd

census = pd.read_csv("census_data.csv", header=1)

CensusData = pd.DataFrame(census)
CensusData = CensusData[CensusData.columns[range(67)]]
CensusData = CensusData.rename(columns={"Geog": "Community Name", "GeogKey": "Community Area"})

# First100CrimeData = First100CrimeData.join(CensusData.set_index('Community Area'), on='Community Area')
First100CrimeData = First100CrimeData.merge(CensusData, on='Community Area', how='left')
First100CrimeData = First100CrimeData.drop(['community_area_name','Community_Name'] , axis =1)
for col in First100CrimeData.columns:
    print(col)

print(First100CrimeData.head())

ID
Case Number
Date
Block
IUCR
Primary Type
Description
Location Description
Arrest
Domestic
Beat
District
Ward
Community Area
FBI Code
Year
Updated On
Police_District
%_housing_crowded
%_households_below_poverty
%_age16_unemployed
%_age25_nohighschool
%_not_working_age
per_capita_income
hardship_index
Community Name
Total Population
Not Hispanic or Latino, White alone
Not Hispanic or Latino, Black or African American alone
Not Hispanic or Latino, American Indian and Alaska Native alone
Not Hispanic or Latino, Asian alone
Not Hispanic or Latino, Native Hawaiian and Other Pacific Islander alone
Not Hispanic or Latino, Some Other Race alone
Not Hispanic or Latino, Two or More Races
Hispanic or Latino
Male: Under 5 years old
Male: 5 to 9 years
Male: 10 to 14 years
Male: 15 to 17 years
Male: 18 and 19 years
Male: 20 years
Male: 21 years
Male: 22 to 24 years
Male: 25 to 29 years
Male: 30 to 34 years
Male: 35 to 39 years
Male: 40 to 44 years
Male: 45 to 49 years
Male: 50 to 54 years
Male: 55 to 59 years
Male: 60 and 61 years
Male: 62 to 64 years
Male: 65 and 66 years
Male: 67 to 69 years
Male: 70 to 74 years
Male: 75 to 79 years
Male: 80 to 84 years
Male: 85 years and over
Female: Under 5 years old
Female: 5 to 9 years
Female: 10 to 14 years
Female: 15 to 17 years
Female: 18 and 19 years
Female: 20 years
Female: 21 years
Female: 22 to 24 years
Female: 25 to 29 years
Female: 30 to 34 years
Female: 35 to 39 years
Female: 40 to 44 years
Female: 45 to 49 years
Female: 50 to 54 years
Female: 55 to 59 years
Female: 60 and 61 years
Female: 62 to 64 years
Female: 65 and 66 years
Female: 67 to 69 years
Female: 70 to 74 years
Female: 75 to 79 years
Female: 80 to 84 years
Female: 85 years and over
Median Age
Total Households
Average Household Size
Total Housing Units
Occupied Housing Units
Vacant Housing Units
Occupied Housing Units.1
Owned with a mortgage or a loan
Owned free and clear
Renter occupied
         ID Case Number           Date                 Block  IUCR  \
0  11034701    JA366925   1/1/01 11:00       016XX E 86TH PL  1153
1  11227287    JB147188   10/8/17 3:00    092XX S RACINE AVE   281
2  11227583    JB147595  3/28/17 14:00       026XX W 79TH ST   620
3  11227293    JB147230   9/9/17 20:17  060XX S EBERHART AVE   810
4  11227634    JB147599  8/26/17 10:00   001XX W RANDOLPH ST   281

          Primary Type                          Description  \
0   DECEPTIVE PRACTICE  FINANCIAL IDENTITY THEFT OVER $ 300
1  CRIM SEXUAL ASSAULT                       NON-AGGRAVATED
2             BURGLARY                       UNLAWFUL ENTRY
3                THEFT                            OVER $500
4  CRIM SEXUAL ASSAULT                       NON-AGGRAVATED

  Location Description Arrest Domestic  ... Median Age  Total Households  \
0            RESIDENCE  FALSE    FALSE  ...       42.9            3924.0
1            RESIDENCE  FALSE    FALSE  ...       41.2            9482.0
2                OTHER  FALSE    FALSE  ...       33.5           12451.0
3            RESIDENCE  FALSE    FALSE  ...       31.4            9400.0
4          HOTEL/MOTEL  FALSE    FALSE  ...       30.5           15494.0

   Average Household Size  Total Housing Units Occupied Housing Units  \
0                    2.57               4295.0                 3924.0
1                    2.77              10365.0                 9482.0
2                    3.25              13060.0                12451.0
3                    2.37              12114.0                 9400.0
4                    1.60              20557.0                15494.0

   Vacant Housing Units Occupied Housing Units.1  \
0                 371.0                   3924.0
1                 883.0                   9482.0
2                 609.0                  12451.0
3                2714.0                   9400.0
4                5063.0                  15494.0

  Owned with a mortgage or a loan  Owned free and clear  Renter occupied
0                          1990.0                 789.0           1145.0
1                          4626.0                1921.0           2935.0
2                          8900.0                1879.0           1672.0
3                          1718.0                 410.0           7272.0
4                          5147.0                1222.0           9125.0

[5 rows x 91 columns]

In [96]:
# Function to format datetime for the weather API
def format_datetime(string):
    date, time = string.split()

    # Format date
    month,day,year = date.split('/')
    if len(month) == 1:
        month = '0' + month
    if len(day) == 1:
        day = '0' + day
    year = '20' + year
    formatted_date = year + '-' + month + '-' + day

    # Format time
    formatted_start_time = 'T' + time + ':00'
    formatted_end_time = 'T' + time + ':59'

    formatted_start_datetime = formatted_date + formatted_start_time
    formatted_end_datetime = formatted_date + formatted_end_time

    return formatted_start_datetime,formatted_end_datetime

In [107]:
import requests
import io

# Call to weather API function
def getWeather(community_name, start, end):
    url = "https://visual-crossing-weather.p.rapidapi.com/history"

    querystring = {"startDateTime":start,"aggregateHours":"1","location": community_name + " IL","endDateTime":end,"unitGroup":"us"}
    headers = {
        'x-rapidapi-host': "visual-crossing-weather.p.rapidapi.com",
        'x-rapidapi-key': "fcec7c8393mshb733d50fc42d667p1a997fjsn531e02e32408"
        }

    response = requests.request("GET", url, headers=headers, params=querystring)
    print(response.text)
    # Put response into a dataframe
    rawData = pd.read_csv(io.StringIO(response.text))
    return rawData

In [110]:
for index, row in First100CrimeData.head().iterrows():
    start, end = format_datetime(row['Date'])
    community_area = row['Community Name']
    print(community_area)
    df = getWeather(community_area, start, end)
    df.head()

Avalon Park
Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
"Avalon Park IL",01/01/2001 11:00:00,23.1,23.1,23.1,14.1,67.98,,8.1,,320,14,0,0,,10,,1031.4,"",41.74507,-87.58816,"Avalon Park, Chicago, IL, United States","","","Clear"

Washington Heights
Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
"Washington Heights IL",10/08/2017 03:00:00,57.1,57.1,57.1,54.8,91.99,,6.7,,220,,0,0,,10,0,1007.3,"",41.71584,-87.64884,"Washington Heights, Chicago, IL, United States","","","Clear"

Ashburn
Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
"Ashburn IL",03/28/2017 14:00:00,45.9,45.9,45.9,37.2,71.56,,12.6,,62,40.1,0,0,,10,100,1020.8,"",41.74786,-87.70995,"Ashburn, Chicago, IL, United States","","","Overcast"

Woodlawn
Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
"Woodlawn IL",09/09/2017 20:17:00,71.2,71.2,71.2,55,56.69,,2.5,,90,,0,0,,10,79.9,,"",38.33304,-89.03494,"Woodlawn, IL, United States","","","Overcast"

The Loop
Address,Date time,Minimum Temperature,Maximum Temperature,Temperature,Dew Point,Relative Humidity,Heat Index,Wind Speed,Wind Gust,Wind Direction,Wind Chill,Precipitation,Precipitation Cover,Snow Depth,Visibility,Cloud Cover,Sea Level Pressure,Weather Type,Latitude,Longitude,Resolved Address,Name,Info,Conditions
"The Loop IL",08/26/2017 10:00:00,57.6,57.6,57.6,54,87.86,,9,,266,,0,0,,27.5,65.2,1015.6,"",54.69977,-6.59685,"The Loup, Magherafelt, Northern Ireland, United Kingdom","","","Partially cloudy"