In [33]:

# coding: utf-8

# In[80]:


import pandas as pd
from sodapy import Socrata
import numpy as np 
import ast
import json

CommunityToPoliceDistrict = []
with open('PoliceDistrictToCommunityNamesOutput.txt') as fp:
    for line in fp:
        communityNum, communityName, policeDist  = line.strip().split(":")
        communityName = communityName.strip()
        CommunityToPoliceDistrict.append({"Community Area": float(communityNum), "Community_Name": communityName,
                                         "Police_District": policeDist})

CommunityPoliceDistrictDF = pd.DataFrame(CommunityToPoliceDistrict)
CommunityPoliceDistrictDF.head()

   Community Area  Community_Name Police_District
0             1.0     ROGERS PARK              24
1             2.0      WEST RIDGE              24
2             3.0          UPTOWN              23
3             4.0  LINCOLN SQUARE              20
4             5.0    NORTH CENTER              19

In [34]:

# In[81]:


CrimeData = pd.read_csv("Crimes_2001_2020.csv",
                       dtype={'ID': int, 'Case Number' : str, 'Date' : str, 'Block' : str, 
                             'IUCR' : str, 'Primary Type' : str, 'Description' : str, 
                             'Location Description' : str, 'Arrest' : str, 'Domestic' : str, 'Beat' : str, 
                             'District' : float, 'Ward' : float, 'Community Area' : float, 'FBI Code' : str, 
                              'X Coordinate' : str, 'Y Coordinate' : str, 'Year' : int,'Updated On' : str,
                             'Latitude' : str, 'Longitude' : str, 'Location' : str})

CrimeData = CrimeData.drop(['X Coordinate', 'Y Coordinate', 'Latitude', 'Longitude', 'Location'], axis = 1)
First100CrimeData = CrimeData[:100]
First100CrimeData = First100CrimeData.join(CommunityPoliceDistrictDF.set_index('Community Area'), on='Community Area')
print(First100CrimeData.head())
print(First100CrimeData.columns)
print(First100CrimeData['Community Area'].unique())

         ID Case Number                    Date                 Block  IUCR  \
0  11034701    JA366925  01/01/2001 11:00:00 AM       016XX E 86TH PL  1153
1  11227287    JB147188  10/08/2017 03:00:00 AM    092XX S RACINE AVE   281
2  11227583    JB147595  03/28/2017 02:00:00 PM       026XX W 79TH ST   620
3  11227293    JB147230  09/09/2017 08:17:00 PM  060XX S EBERHART AVE   810
4  11227634    JB147599  08/26/2017 10:00:00 AM   001XX W RANDOLPH ST   281

          Primary Type                          Description  \
0   DECEPTIVE PRACTICE  FINANCIAL IDENTITY THEFT OVER $ 300
1  CRIM SEXUAL ASSAULT                       NON-AGGRAVATED
2             BURGLARY                       UNLAWFUL ENTRY
3                THEFT                            OVER $500
4  CRIM SEXUAL ASSAULT                       NON-AGGRAVATED

  Location Description Arrest Domestic  Beat  District  Ward  Community Area  \
0            RESIDENCE  FALSE    FALSE   412       4.0   8.0            45.0
1            RESIDENCE  FALSE    FALSE  2222      22.0  21.0            73.0
2                OTHER  FALSE    FALSE   835       8.0  18.0            70.0
3            RESIDENCE  FALSE    FALSE   313       3.0  20.0            42.0
4          HOTEL/MOTEL  FALSE    FALSE   122       1.0  42.0            32.0

  FBI Code  Year     Updated On      Community_Name Police_District
0       11  2001   8/5/17 15:50         AVALON PARK               4
1        2  2017  2/11/18 15:57  WASHINGTON HEIGHTS              22
2        5  2017  2/11/18 15:57             ASHBURN               8
3        6  2017  2/11/18 15:57            WOODLAWN               3
4        2  2017  2/11/18 15:57                LOOP               1
Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On',
       'Community_Name', 'Police_District'],
      dtype='object')
[ 45.  73.  70.  42.  32.  69.  65.  30.  22.  44.  13.  52.   1.  46.   6.
  57.  25.   4.  68.  19.  23.  63.  77.   8.   5.  71.  38.  61.  53.  29.
  56.  43.  27.  26.  nan  76.   2.  49.  33.   7.  28.  14.  10.   3.  24.
  72.  66.  58.  35.  21.  39.  75.]

In [35]:
# In[82]:


# Used to Extract the data from the Socio Economic CSV File 
# To train our program what specific communities are better or worse off than average
import pandas as pd 
import numpy as np 

# We can use .describe() to find the benchmark levels of poverty per community. Compare community to the average and give weightage 
columns = [
'Community Area',
'community_area_name', 
'%_housing_crowded', 
'%_households_below_poverty', 
'%_age16_unemployed',
'%_age25_nohighschool',
'%_not_working_age',
'per_capita_income',
'hardship_index']

SocioeconomicData = pd.read_csv("SocioeconomicData.csv")
SocioeconomicData.columns = columns

First100CrimeData = First100CrimeData.join(SocioeconomicData.set_index('Community Area'), on='Community Area')

print(First100CrimeData.columns)

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On',
       'Community_Name', 'Police_District', 'community_area_name',
       '%_housing_crowded', '%_households_below_poverty', '%_age16_unemployed',
       '%_age25_nohighschool', '%_not_working_age', 'per_capita_income',
       'hardship_index'],
      dtype='object')

In [36]:
# In[83]:


import pandas as pd

census = pd.read_csv("census_data.csv", header=1)

CensusData = pd.DataFrame(census)
CensusData = CensusData[CensusData.columns[range(67)]]
CensusData = CensusData.rename(columns={"Geog": "Community Name", "GeogKey": "Community Area"})

#First100CrimeData = First100CrimeData.join(CensusData.set_index('Community Area'), on='Community Area')
First100CrimeData = First100CrimeData.merge(CensusData, on='Community Area', how='left')
First100CrimeData = First100CrimeData.drop(
    ['Arrest', 'Domestic', 'FBI Code', 'IUCR', 'Beat', 'Ward',
    'Case Number', 'Block', 'Primary Type', 'Description',
       'Location Description', 'District', 'Community Area', 'Year',
       'Updated On', 'community_area_name', 'Police_District','Not Hispanic or Latino, American Indian and Alaska Native alone',
    'Not Hispanic or Latino, Native Hawaiian and Other Pacific Islander alone', 'Not Hispanic or Latino, Some Other Race alone','Not Hispanic or Latino, Two or More Races'], axis = 1)

First100CrimeData = First100CrimeData.dropna()
First100CrimeData.rename(columns={'Not Hispanic or Latino, White alone' : '#_White',
       'Not Hispanic or Latino, Black or African American alone' : "#_African_American",
       'Not Hispanic or Latino, Asian alone' : "#_Asian",'Hispanic or Latino' : "#_Hispanic"})

,ID,Date,Community_Name,%_housing_crowded,%_households_below_poverty,%_age16_unemployed,%_age25_nohighschool,%_not_working_age,per_capita_income,hardship_index,...,Median Age,Total Households,Average Household Size,Total Housing Units,Occupied Housing Units,Vacant Housing Units,Occupied Housing Units.1,Owned with a mortgage or a loan,Owned free and clear,Renter occupied
0,11034701,01/01/2001 11:00:00 AM,AVALON PARK,1.4,17.2,21.1,10.6,39.3,24454,41.0,...,42.9,3924.0,2.57,4295.0,3924.0,371.0,3924.0,1990.0,789.0,1145.0
1,11227287,10/08/2017 03:00:00 AM,WASHINGTON HEIGHTS,1.1,16.9,20.8,13.7,42.6,19713,48.0,...,41.2,9482.0,2.77,10365.0,9482.0,883.0,9482.0,4626.0,1921.0,2935.0
2,11227583,03/28/2017 02:00:00 PM,ASHBURN,4.0,10.4,11.7,17.7,36.9,23482,37.0,...,33.5,12451.0,3.25,13060.0,12451.0,609.0,12451.0,8900.0,1879.0,1672.0
3,11227293,09/09/2017 08:17:00 PM,WOODLAWN,2.9,30.7,23.4,16.5,36.1,18672,58.0,...,31.4,9400.0,2.37,12114.0,9400.0,2714.0,9400.0,1718.0,410.0,7272.0
4,11227634,08/26/2017 10:00:00 AM,LOOP,1.5,14.7,5.7,3.1,13.5,65526,3.0,...,30.5,15494.0,1.60,20557.0,15494.0,5063.0,15494.0,5147.0,1222.0,9125.0
5,11227517,02/10/2013 12:00:00 AM,GREATER GRAND CROSSING,3.6,29.6,23.0,16.5,41.0,17285,66.0,...,33.9,12585.0,2.55,15517.0,12585.0,2932.0,12585.0,2939.0,1277.0,8369.0
6,11227503,01/01/2015 12:01:00 AM,WEST LAWN,5.8,14.9,9.6,33.6,39.6,16907,56.0,...,30.0,8766.0,3.80,9362.0,8766.0,596.0,8766.0,5135.0,1446.0,2185.0
7,11227508,01/01/2017 12:01:00 AM,SOUTH LAWNDALE,15.2,30.7,15.8,54.8,33.8,10402,96.0,...,27.6,18131.0,3.79,21108.0,18131.0,2977.0,18131.0,4168.0,1792.0,12171.0
8,11022695,07/17/2017 10:10:00 AM,LOGAN SQUARE,3.2,16.8,8.2,14.8,26.2,31908,23.0,...,30.7,29352.0,2.46,32486.0,29352.0,3134.0,29352.0,8694.0,1504.0,19154.0
9,11227633,12/28/2017 03:55:00 PM,LOOP,1.5,14.7,5.7,3.1,13.5,65526,3.0,...,30.5,15494.0,1.60,20557.0,15494.0,5063.0,15494.0,5147.0,1222.0,9125.0
10,11227586,02/10/2017 12:00:00 PM,CHATHAM,3.3,27.8,24.0,14.5,40.3,18881,60.0,...,41.4,13712.0,2.26,16382.0,13712.0,2670.0,13712.0,3698.0,1634.0,8380.0
11,11227475,11/22/2017 02:42:00 AM,NORTH PARK,3.9,13.2,9.9,14.4,39.0,26576,33.0,...,38.1,6546.0,2.65,7052.0,6546.0,506.0,6546.0,2364.0,1040.0,3142.0
12,11227247,01/01/2012 09:00:00 AM,EAST SIDE,6.8,19.2,12.1,31.9,42.8,17104,64.0,...,31.1,6948.0,3.32,7649.0,6948.0,701.0,6948.0,3137.0,1574.0,2237.0
13,11036284,07/29/2017 03:40:00 PM,ROGERS PARK,7.7,23.6,8.7,18.2,27.5,23939,39.0,...,32.4,24292.0,2.13,27564.0,24292.0,3272.0,24292.0,6128.0,1009.0,17155.0
14,11227509,01/22/2017 12:01:00 AM,SOUTH CHICAGO,4.7,29.8,19.7,26.6,41.1,16579,75.0,...,33.0,11064.0,2.80,13997.0,11064.0,2933.0,11064.0,3106.0,1376.0,6582.0
15,11227407,10/14/2017 12:01:00 AM,LAKE VIEW,1.1,11.4,4.7,2.6,17.0,60058,5.0,...,30.4,54425.0,1.72,59529.0,54425.0,5104.0,54425.0,16640.0,3488.0,34297.0
16,11028056,10/15/2014 03:00:00 PM,ARCHER HEIGHTS,8.5,14.1,16.5,35.9,39.2,16134,67.0,...,30.5,3844.0,3.48,4250.0,3844.0,406.0,3844.0,1538.0,671.0,1635.0
17,5253983,10/17/2006 01:05:00 PM,AUSTIN,6.3,28.6,22.6,24.4,37.9,15957,73.0,...,33.2,32792.0,2.96,38214.0,32792.0,5422.0,32792.0,10554.0,2700.0,19538.0
18,11028299,05/30/2015 12:00:00 AM,GREATER GRAND CROSSING,3.6,29.6,23.0,16.5,41.0,17285,66.0,...,33.9,12585.0,2.55,15517.0,12585.0,2932.0,12585.0,2939.0,1277.0,8369.0
19,11028290,05/30/2015 12:00:00 AM,GREATER GRAND CROSSING,3.6,29.6,23.0,16.5,41.0,17285,66.0,...,33.9,12585.0,2.55,15517.0,12585.0,2932.0,12585.0,2939.0,1277.0,8369.0
20,11041422,07/29/2017 10:00:00 AM,LINCOLN SQUARE,3.4,10.9,8.2,13.4,25.5,37524,17.0,...,33.5,18194.0,2.14,19906.0,18194.0,1712.0,18194.0,5482.0,1406.0,11306.0
21,11042125,12/16/2011 12:00:00 AM,ENGLEWOOD,3.8,46.6,28.0,28.5,42.5,11888,94.0,...,30.5,10248.0,2.97,14518.0,10248.0,4270.0,10248.0,1834.0,1030.0,7384.0
22,11042141,05/16/2013 12:00:00 AM,ENGLEWOOD,3.8,46.6,28.0,28.5,42.5,11888,94.0,...,30.5,10248.0,2.97,14518.0,10248.0,4270.0,10248.0,1834.0,1030.0,7384.0
23,11042183,07/12/2001 12:01:00 AM,BELMONT CRAGIN,10.8,18.7,14.6,37.3,37.3,15461,70.0,...,30.3,21591.0,3.63,23634.0,21591.0,2043.0,21591.0,8429.0,2016.0,11146.0
24,11039126,01/01/2007 12:01:00 AM,HUMBOLDT PARK,14.8,33.9,17.3,35.4,38.0,13781,85.0,...,28.6,17093.0,3.27,20310.0,17093.0,3217.0,17093.0,4705.0,1115.0,11273.0
25,11042582,01/01/2011 12:01:00 AM,GAGE PARK,15.8,23.4,18.2,51.5,38.8,12171,93.0,...,26.3,9384.0,4.25,10323.0,9384.0,939.0,9384.0,4114.0,889.0,4381.0
26,11042759,07/08/2013 04:10:00 PM,EDGEWATER,4.1,18.2,9.2,9.7,23.8,33385,19.0,...,36.6,29516.0,1.82,32889.0,29516.0,3373.0,29516.0,8348.0,2505.0,18663.0
27,11042763,07/27/2017 01:00:00 AM,LINCOLN SQUARE,3.4,10.9,8.2,13.4,25.5,37524,17.0,...,33.5,18194.0,2.14,19906.0,18194.0,1712.0,18194.0,5482.0,1406.0,11306.0
28,11227495,03/20/2014 09:00:00 AM,NEAR NORTH SIDE,1.9,12.9,7.0,2.5,22.6,88669,1.0,...,35.2,51714.0,1.52,62364.0,51714.0,10650.0,51714.0,17237.0,5991.0,28486.0
29,11042867,01/01/2015 12:01:00 AM,SOUTH CHICAGO,4.7,29.8,19.7,26.6,41.1,16579,75.0,...,33.0,11064.0,2.80,13997.0,11064.0,2933.0,11064.0,3106.0,1376.0,6582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,11228593,03/01/2016 12:00:00 AM,BEVERLY,0.9,5.1,8.0,3.7,40.5,39523,12.0,...,40.9,7546.0,2.65,7915.0,7546.0,369.0,7546.0,4675.0,1454.0,1417.0
71,11228565,12/16/2017 02:30:00 PM,ROSELAND,2.5,19.8,20.3,16.9,41.2,17949,52.0,...,37.7,15492.0,2.83,17875.0,15492.0,2383.0,15492.0,6235.0,2653.0,6604.0
72,11043823,08/11/2013 05:00:00 PM,NEAR NORTH SIDE,1.9,12.9,7.0,2.5,22.6,88669,1.0,...,35.2,51714.0,1.52,62364.0,51714.0,10650.0,51714.0,17237.0,5991.0,28486.0
73,11043900,09/30/2015 07:45:00 PM,BELMONT CRAGIN,10.8,18.7,14.6,37.3,37.3,15461,70.0,...,30.3,21591.0,3.63,23634.0,21591.0,2043.0,21591.0,8429.0,2016.0,11146.0
74,11228293,07/01/2017 08:40:00 PM,CHICAGO LAWN,7.6,27.9,17.1,31.2,40.6,13231,80.0,...,28.0,15557.0,3.55,18467.0,15557.0,2910.0,15557.0,6276.0,1035.0,8246.0
75,11029364,05/10/2014 08:00:00 AM,SOUTH SHORE,2.8,31.1,20.0,14.0,35.7,19398,55.0,...,37.0,23631.0,2.16,29010.0,23631.0,5379.0,23631.0,4559.0,1364.0,17708.0
76,11243391,12/30/2017 12:01:00 AM,LOOP,1.5,14.7,5.7,3.1,13.5,65526,3.0,...,30.5,15494.0,1.60,20557.0,15494.0,5063.0,15494.0,5147.0,1222.0,9125.0
77,11029405,10/01/2014 07:00:00 AM,LOGAN SQUARE,3.2,16.8,8.2,14.8,26.2,31908,23.0,...,30.7,29352.0,2.46,32486.0,29352.0,3134.0,29352.0,8694.0,1504.0,19154.0
78,11029462,07/01/2013 12:00:00 PM,WEST RIDGE,7.8,17.2,8.8,20.8,38.5,23040,46.0,...,35.1,24755.0,2.85,27466.0,24755.0,2711.0,24755.0,8829.0,3367.0,12559.0
79,11029532,12/01/2013 09:00:00 PM,BELMONT CRAGIN,10.8,18.7,14.6,37.3,37.3,15461,70.0,...,30.3,21591.0,3.63,23634.0,21591.0,2043.0,21591.0,8429.0,2016.0,11146.0
80,11228256,09/07/2017 06:00:00 PM,LAKE VIEW,1.1,11.4,4.7,2.6,17.0,60058,5.0,...,30.4,54425.0,1.72,59529.0,54425.0,5104.0,54425.0,16640.0,3488.0,34297.0
81,11029711,09/01/2014 10:00:00 AM,WOODLAWN,2.9,30.7,23.4,16.5,36.1,18672,58.0,...,31.4,9400.0,2.37,12114.0,9400.0,2714.0,9400.0,1718.0,410.0,7272.0
82,11029673,01/24/2009 06:00:00 PM,BRIGHTON PARK,14.4,23.6,13.9,45.1,39.3,13089,84.0,...,27.2,12187.0,3.71,14060.0,12187.0,1873.0,12187.0,4120.0,1295.0,6772.0
83,11228573,11/01/2017 03:00:00 PM,DOUGLAS,1.8,29.6,18.2,14.3,30.7,23791,47.0,...,33.9,8557.0,1.83,10205.0,8557.0,1648.0,8557.0,1592.0,219.0,6746.0
84,9771966,07/16/2014 10:50:00 AM,WOODLAWN,2.9,30.7,23.4,16.5,36.1,18672,58.0,...,31.4,9400.0,2.37,12114.0,9400.0,2714.0,9400.0,1718.0,410.0,7272.0
85,9715284,05/30/2014 11:06:56 AM,EAST GARFIELD PARK,8.2,42.4,19.6,21.3,43.2,12961,83.0,...,30.9,7020.0,2.81,8764.0,7020.0,1744.0,7020.0,1372.0,387.0,5261.0
86,11228094,11/20/2017 03:00:00 PM,NORTH PARK,3.9,13.2,9.9,14.4,39.0,26576,33.0,...,38.1,6546.0,2.65,7052.0,6546.0,506.0,6546.0,2364.0,1040.0,3142.0
87,11228056,11/21/2017 12:00:00 PM,AVONDALE,6.0,15.3,9.2,24.7,31.0,20039,42.0,...,31.2,13573.0,2.89,15339.0,13573.0,1766.0,13573.0,4095.0,980.0,8498.0
88,11228588,06/04/2012 12:00:00 PM,ASHBURN,4.0,10.4,11.7,17.7,36.9,23482,37.0,...,33.5,12451.0,3.25,13060.0,12451.0,609.0,12451.0,8900.0,1879.0,1672.0
89,11225457,02/05/2018 06:00:00 PM,NEAR NORTH SIDE,1.9,12.9,7.0,2.5,22.6,88669,1.0,...,35.2,51714.0,1.52,62364.0,51714.0,10650.0,51714.0,17237.0,5991.0,28486.0
90,11243635,08/31/2017 12:00:00 AM,WEST GARFIELD PARK,9.4,41.7,25.8,24.5,43.6,10934,92.0,...,30.6,5875.0,3.04,8104.0,5875.0,2229.0,5875.0,1180.0,459.0,4236.0
91,11244245,10/10/2017 07:27:00 PM,AUBURN GRESHAM,4.0,27.6,28.3,18.5,41.9,15528,74.0,...,37.0,17603.0,2.76,20351.0,17603.0,2748.0,17603.0,5983.0,2320.0,9300.0
92,11242929,01/01/2015 12:00:00 AM,KENWOOD,2.4,21.7,15.7,11.3,35.4,35911,26.0,...,37.4,9179.0,1.90,10311.0,9179.0,1132.0,9179.0,2231.0,660.0,6288.0
93,11243481,11/04/2017 10:00:00 PM,GREATER GRAND CROSSING,3.6,29.6,23.0,16.5,41.0,17285,66.0,...,33.9,12585.0,2.55,15517.0,12585.0,2932.0,12585.0,2939.0,1277.0,8369.0
94,11243284,12/28/2017 09:00:00 AM,WEST RIDGE,7.8,17.2,8.8,20.8,38.5,23040,46.0,...,35.1,24755.0,2.85,27466.0,24755.0,2711.0,24755.0,8829.0,3367.0,12559.0
95,11242965,12/28/2017 02:00:00 PM,LINCOLN PARK,0.8,12.3,5.1,3.6,21.5,71551,2.0,...,28.9,33536.0,1.80,36864.0,33536.0,3328.0,33536.0,11409.0,2963.0,19164.0
96,11243493,08/04/2017 03:00:00 PM,LOOP,1.5,14.7,5.7,3.1,13.5,65526,3.0,...,30.5,15494.0,1.60,20557.0,15494.0,5063.0,15494.0,5147.0,1222.0,9125.0
97,11243514,11/12/2014 12:00:00 AM,MORGAN PARK,0.8,13.2,15.0,10.8,40.3,27149,30.0,...,40.5,8187.0,2.70,8958.0,8187.0,771.0,8187.0,4400.0,1534.0,2253.0
98,11037536,07/31/2017 08:05:00 AM,NEAR NORTH SIDE,1.9,12.9,7.0,2.5,22.6,88669,1.0,...,35.2,51714.0,1.52,62364.0,51714.0,10650.0,51714.0,17237.0,5991.0,28486.0
99,11243040,12/12/2017 12:00:00 PM,BRIGHTON PARK,14.4,23.6,13.9,45.1,39.3,13089,84.0,...,27.2,12187.0,3.71,14060.0,12187.0,1873.0,12187.0,4120.0,1295.0,6772.0

In [37]:
# In[84]:


from datetime import datetime, time
morningStart = time(6, 0, 0)
morningEnd = time(12,0,0)
afternoonStart = time(12,0,1)
afternoonEnd = time(18,30,0)
nightStart = time(18,31,0)
nightEnd = time(23,59,59)
midnightStart = time(0,0,0)
midnightEnd = time(5,59,0)

# Time of Day Function
def timeOfDayApplier(dateColumn):
    DatetimeVersion = datetime.strptime(dateColumn,'%m/%d/%Y %I:%M:%S %p') # 'I' accounts for 12-hour format
    
    if morningStart <= DatetimeVersion.time() <= morningEnd:
        return "Morning"
    elif afternoonStart <= DatetimeVersion.time() <= afternoonEnd:
        return "Afternoon/Evening"
    elif nightStart <= DatetimeVersion.time() <= nightEnd:
        return "Night"
    elif midnightStart <= DatetimeVersion.time() <= midnightEnd:
        return "Midnight"

First100CrimeData['TimeOfDay'] = First100CrimeData['Date'].map(timeOfDayApplier)

In [38]:
# In[85]:


from datetime import datetime, time
springStart = 3
springEnd = 5
summerStart = 6
summerEnd = 8
fallStart = 9
fallEnd = 11
winterStart = 12
winterEnd = 2 
# Time of Day Function
def seasonOfYear(dateColumn):
    DatetimeVersion = datetime.strptime(dateColumn,'%m/%d/%Y %I:%M:%S %p') # 'I' accounts for 12-hour format
     
    if DatetimeVersion.month in [12,1,2]:
        return "Winter"   
    elif springStart <= DatetimeVersion.month <= springEnd:
        return "Spring"
    elif summerStart <= DatetimeVersion.month <= summerEnd:
        return "Summer"
    elif fallStart <= DatetimeVersion.month <= fallEnd:
        return "Fall"

First100CrimeData['Season'] = First100CrimeData['Date'].map(seasonOfYear)

# Time of Day Function
def dayOfWeek(dateColumn):
    DatetimeVersion = datetime.strptime(dateColumn,'%m/%d/%Y %I:%M:%S %p') # 'I' accounts for 12-hour format
     
    if DatetimeVersion.weekday() in [0,1,2,3,4]:
        return "Weekday"   
    else:
        return "Weekend"

First100CrimeData['Weekday/Weekend'] = First100CrimeData['Date'].map(dayOfWeek)


# In[86]:


print(First100CrimeData['Date'][0]) # value check 
print(First100CrimeData['TimeOfDay'][0]) # value check
print(First100CrimeData['Season'][0]) # value check
print(First100CrimeData['Weekday/Weekend'][0]) # value check

01/01/2001 11:00:00 AM
Morning
Winter
Weekday

In [39]:
# In[87]:


print("Columns: ", First100CrimeData.columns)
print(First100CrimeData.head())
print("Shape: ", First100CrimeData.shape)

Columns:  Index(['ID', 'Date', 'Community_Name', '%_housing_crowded',
       '%_households_below_poverty', '%_age16_unemployed',
       '%_age25_nohighschool', '%_not_working_age', 'per_capita_income',
       'hardship_index', 'Community Name', 'Total Population',
       'Not Hispanic or Latino, White alone',
       'Not Hispanic or Latino, Black or African American alone',
       'Not Hispanic or Latino, Asian alone', 'Hispanic or Latino',
       'Male: Under 5 years old', 'Male: 5 to 9 years', 'Male: 10 to 14 years',
       'Male: 15 to 17 years', 'Male: 18 and 19 years', 'Male: 20 years',
       'Male: 21 years', 'Male: 22 to 24 years', 'Male: 25 to 29 years',
       'Male: 30 to 34 years', 'Male: 35 to 39 years', 'Male: 40 to 44 years',
       'Male: 45 to 49 years', 'Male: 50 to 54 years', 'Male: 55 to 59 years',
       'Male: 60 and 61 years', 'Male: 62 to 64 years',
       'Male: 65 and 66 years', 'Male: 67 to 69 years', 'Male: 70 to 74 years',
       'Male: 75 to 79 years', 'Male: 80 to 84 years',
       'Male: 85 years and over', 'Female: Under 5 years old',
       'Female: 5 to 9 years', 'Female: 10 to 14 years',
       'Female: 15 to 17 years', 'Female: 18 and 19 years', 'Female: 20 years',
       'Female: 21 years', 'Female: 22 to 24 years', 'Female: 25 to 29 years',
       'Female: 30 to 34 years', 'Female: 35 to 39 years',
       'Female: 40 to 44 years', 'Female: 45 to 49 years',
       'Female: 50 to 54 years', 'Female: 55 to 59 years',
       'Female: 60 and 61 years', 'Female: 62 to 64 years',
       'Female: 65 and 66 years', 'Female: 67 to 69 years',
       'Female: 70 to 74 years', 'Female: 75 to 79 years',
       'Female: 80 to 84 years', 'Female: 85 years and over', 'Median Age',
       'Total Households', 'Average Household Size', 'Total Housing Units',
       'Occupied Housing Units', 'Vacant Housing Units',
       'Occupied Housing Units.1', 'Owned with a mortgage or a loan',
       'Owned free and clear', 'Renter occupied', 'TimeOfDay', 'Season',
       'Weekday/Weekend'],
      dtype='object')
         ID                    Date      Community_Name  %_housing_crowded  \
0  11034701  01/01/2001 11:00:00 AM         AVALON PARK                1.4
1  11227287  10/08/2017 03:00:00 AM  WASHINGTON HEIGHTS                1.1
2  11227583  03/28/2017 02:00:00 PM             ASHBURN                4.0
3  11227293  09/09/2017 08:17:00 PM            WOODLAWN                2.9
4  11227634  08/26/2017 10:00:00 AM                LOOP                1.5

   %_households_below_poverty  %_age16_unemployed  %_age25_nohighschool  \
0                        17.2                21.1                  10.6
1                        16.9                20.8                  13.7
2                        10.4                11.7                  17.7
3                        30.7                23.4                  16.5
4                        14.7                 5.7                   3.1

   %_not_working_age  per_capita_income  hardship_index       ...         \
0               39.3              24454            41.0       ...
1               42.6              19713            48.0       ...
2               36.9              23482            37.0       ...
3               36.1              18672            58.0       ...
4               13.5              65526             3.0       ...

  Total Housing Units  Occupied Housing Units  Vacant Housing Units  \
0              4295.0                  3924.0                 371.0
1             10365.0                  9482.0                 883.0
2             13060.0                 12451.0                 609.0
3             12114.0                  9400.0                2714.0
4             20557.0                 15494.0                5063.0

   Occupied Housing Units.1  Owned with a mortgage or a loan  \
0                    3924.0                           1990.0
1                    9482.0                           4626.0
2                   12451.0                           8900.0
3                    9400.0                           1718.0
4                   15494.0                           5147.0

   Owned free and clear  Renter occupied          TimeOfDay  Season  \
0                 789.0           1145.0            Morning  Winter
1                1921.0           2935.0           Midnight    Fall
2                1879.0           1672.0  Afternoon/Evening  Spring
3                 410.0           7272.0              Night    Fall
4                1222.0           9125.0            Morning  Summer

   Weekday/Weekend
0          Weekday
1          Weekend
2          Weekday
3          Weekend
4          Weekend

[5 rows x 75 columns]
Shape:  (97, 75)

In [41]:
import pandasql
query = """
WITH cr AS
(
    SELECT DISTINCT
    Community_Name
    , COUNT(*) AS crimes 
    FROM First100CrimeData
    GROUP BY Community_Name
)
SELECT 
cr.crimes as Num_Crimes
, cr.Community_Name
FROM cr
ORDER BY Num_Crimes DESC, cr.Community_Name;
"""
CommunityNumCrimesDF = pandasql.sqldf(query, globals())
print(CommunityNumCrimesDF.head())
print("# CRIMES TOTAL: ",sum(CommunityNumCrimesDF.Num_Crimes))

   Num_Crimes          Community_Name
0           5  GREATER GRAND CROSSING
1           5                    LOOP
2           5         NEAR NORTH SIDE
3           3                 ASHBURN
4           3          AUBURN GRESHAM
# CRIMES TOTAL:  97