In [21]:

# coding: utf-8

# In[80]:


import pandas as pd
from sodapy import Socrata
import numpy as np 
import ast
import json

CommunityToPoliceDistrict = []
with open('PoliceDistrictToCommunityNamesOutput.txt') as fp:
    for line in fp:
        communityNum, communityName, policeDist  = line.strip().split(":")
        communityName = communityName.strip()
        CommunityToPoliceDistrict.append({"Community_Area": float(communityNum), "Community_Name": communityName,
                                         "Police_District": policeDist})

CommunityPoliceDistrictDF = pd.DataFrame(CommunityToPoliceDistrict)
CommunityPoliceDistrictDF.head()

   Community_Area  Community_Name Police_District
0             1.0     ROGERS PARK              24
1             2.0      WEST RIDGE              24
2             3.0          UPTOWN              23
3             4.0  LINCOLN SQUARE              20
4             5.0    NORTH CENTER              19

In [22]:

# In[81]:


CrimeData = pd.read_csv("Crimes2001_2020.csv",
                       dtype={'ID': int, 'Case Number' : str, 'Date' : str, 'Block' : str, 
                             'IUCR' : str, 'Primary Type' : str, 'Description' : str, 
                             'Location Description' : str, 'Arrest' : str, 'Domestic' : str, 'Beat' : str, 
                             'District' : float, 'Ward' : float, 'Community Area' : float, 'FBI Code' : str, 
                              'X Coordinate' : str, 'Y Coordinate' : str, 'Year' : int,'Updated On' : str,
                             'Latitude' : str, 'Longitude' : str, 'Location' : str}, )

CrimeData.rename(columns = {'Community Area':'Community_Area'}, inplace = True)
CrimeData = CrimeData.drop(['X Coordinate', 'Y Coordinate', 'Latitude', 'Longitude', 'Location'], axis = 1)
First100CrimeData = CrimeData[:100]
First100CrimeData = First100CrimeData.join(CommunityPoliceDistrictDF.set_index('Community_Area'), on='Community_Area')
print(First100CrimeData.head())
print(First100CrimeData.columns)

         ID Case Number                    Date                 Block  IUCR  \
0  11034701    JA366925  01/01/2001 11:00:00 AM       016XX E 86TH PL  1153
1  11227287    JB147188  10/08/2017 03:00:00 AM    092XX S RACINE AVE   281
2  11227583    JB147595  03/28/2017 02:00:00 PM       026XX W 79TH ST   620
3  11227293    JB147230  09/09/2017 08:17:00 PM  060XX S EBERHART AVE   810
4  11227634    JB147599  08/26/2017 10:00:00 AM   001XX W RANDOLPH ST   281

          Primary Type                          Description  \
0   DECEPTIVE PRACTICE  FINANCIAL IDENTITY THEFT OVER $ 300
1  CRIM SEXUAL ASSAULT                       NON-AGGRAVATED
2             BURGLARY                       UNLAWFUL ENTRY
3                THEFT                            OVER $500
4  CRIM SEXUAL ASSAULT                       NON-AGGRAVATED

  Location Description Arrest Domestic  Beat  District  Ward  Community_Area  \
0            RESIDENCE  FALSE    FALSE   412       4.0   8.0            45.0
1            RESIDENCE  FALSE    FALSE  2222      22.0  21.0            73.0
2                OTHER  FALSE    FALSE   835       8.0  18.0            70.0
3            RESIDENCE  FALSE    FALSE   313       3.0  20.0            42.0
4          HOTEL/MOTEL  FALSE    FALSE   122       1.0  42.0            32.0

  FBI Code  Year     Updated On      Community_Name Police_District
0       11  2001   8/5/17 15:50         AVALON PARK               4
1        2  2017  2/11/18 15:57  WASHINGTON HEIGHTS              22
2        5  2017  2/11/18 15:57             ASHBURN               8
3        6  2017  2/11/18 15:57            WOODLAWN               3
4        2  2017  2/11/18 15:57                LOOP               1
Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community_Area', 'FBI Code', 'Year', 'Updated On',
       'Community_Name', 'Police_District'],
      dtype='object')

In [23]:
# In[82]:


# Used to Extract the data from the Socio Economic CSV File 
# To train our program what specific communities are better or worse off than average
import pandas as pd 
import numpy as np 

# We can use .describe() to find the benchmark levels of poverty per community. Compare community to the average and give weightage 
columns = [
'Community_Area',
'community_area_name', 
'%_housing_crowded', 
'%_households_below_poverty', 
'%_age16_unemployed',
'%_age25_nohighschool',
'%_not_working_age',
'per_capita_income',
'hardship_index']

SocioeconomicData = pd.read_csv("SocioeconomicData.csv")
SocioeconomicData.columns = columns

First100CrimeData = First100CrimeData.join(SocioeconomicData.set_index('Community_Area'), on='Community_Area')

print(First100CrimeData.columns)

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community_Area', 'FBI Code', 'Year', 'Updated On',
       'Community_Name', 'Police_District', 'community_area_name',
       '%_housing_crowded', '%_households_below_poverty', '%_age16_unemployed',
       '%_age25_nohighschool', '%_not_working_age', 'per_capita_income',
       'hardship_index'],
      dtype='object')

In [24]:
# In[83]:


import pandas as pd

census = pd.read_csv("census_data.csv", header=1)

CensusData = pd.DataFrame(census)
CensusData = CensusData[CensusData.columns[range(67)]]
CensusData = CensusData.rename(columns={"Geog": "Community_Name", "GeogKey": "Community_Area"})

First100CrimeData = First100CrimeData.merge(CensusData, on='Community_Area', how='left')
First100CrimeData = First100CrimeData.drop(
    ['Arrest', 'Domestic', 'FBI Code', 'IUCR', 'Beat', 'Ward',
    'Case Number', 'Block', 'Primary Type', 'Description','Location Description', 'District', 'Community_Area', 'Year',
       'Updated On', 'community_area_name', 'Police_District','Not Hispanic or Latino, American Indian and Alaska Native alone','Not Hispanic or Latino, Native Hawaiian and Other Pacific Islander alone', 
     'Not Hispanic or Latino, Some Other Race alone','Not Hispanic or Latino, Two or More Races'], axis = 1)

First100CrimeData = First100CrimeData.dropna()
First100CrimeData.rename(columns={'Not Hispanic or Latino, White alone' : '#_White',
       'Not Hispanic or Latino, Black or African American alone' : "#_African_American",
       'Not Hispanic or Latino, Asian alone' : "#_Asian",'Hispanic or Latino' : "#_Hispanic"}, inplace = True)

In [25]:
# In[84]:


from datetime import datetime, time
morningStart = time(6, 0, 0)
morningEnd = time(12,0,0)
afternoonStart = time(12,0,1)
afternoonEnd = time(18,30,0)
nightStart = time(18,31,0)
nightEnd = time(23,59,59)
midnightStart = time(0,0,0)
midnightEnd = time(5,59,0)

# Time of Day Function
def timeOfDayApplier(dateColumn):
    DatetimeVersion = datetime.strptime(dateColumn,'%m/%d/%Y %I:%M:%S %p') # 'I' accounts for 12-hour format
    
    if morningStart <= DatetimeVersion.time() <= morningEnd:
        return "Morning"
    elif afternoonStart <= DatetimeVersion.time() <= afternoonEnd:
        return "Afternoon/Evening"
    elif nightStart <= DatetimeVersion.time() <= nightEnd:
        return "Night"
    elif midnightStart <= DatetimeVersion.time() <= midnightEnd:
        return "Midnight"

First100CrimeData['TimeOfDay'] = First100CrimeData['Date'].map(timeOfDayApplier)

In [26]:
# In[85]:


from datetime import datetime, time
springStart = 3
springEnd = 5
summerStart = 6
summerEnd = 8
fallStart = 9
fallEnd = 11
winterStart = 12
winterEnd = 2 
# Time of Day Function
def seasonOfYear(dateColumn):
    DatetimeVersion = datetime.strptime(dateColumn,'%m/%d/%Y %I:%M:%S %p') # 'I' accounts for 12-hour format
     
    if DatetimeVersion.month in [12,1,2]:
        return "Winter"   
    elif springStart <= DatetimeVersion.month <= springEnd:
        return "Spring"
    elif summerStart <= DatetimeVersion.month <= summerEnd:
        return "Summer"
    elif fallStart <= DatetimeVersion.month <= fallEnd:
        return "Fall"

First100CrimeData['Season'] = First100CrimeData['Date'].map(seasonOfYear)

# Time of Day Function
def dayOfWeek(dateColumn):
    DatetimeVersion = datetime.strptime(dateColumn,'%m/%d/%Y %I:%M:%S %p') # 'I' accounts for 12-hour format
     
    if DatetimeVersion.weekday() in [0,1,2,3,4]:
        return "Weekday"   
    else:
        return "Weekend"

First100CrimeData['Weekday/Weekend'] = First100CrimeData['Date'].map(dayOfWeek)


# In[86]:


print(First100CrimeData['Date'][0]) # value check 
print(First100CrimeData['TimeOfDay'][0]) # value check
print(First100CrimeData['Season'][0]) # value check
print(First100CrimeData['Weekday/Weekend'][0]) # value check

01/01/2001 11:00:00 AM
Morning
Winter
Weekday

In [27]:
# In[87]:


print("Columns: ", First100CrimeData.columns)
print(First100CrimeData.head())
print("Shape: ", First100CrimeData.shape)

Columns:  Index(['ID', 'Date', 'Community_Name_x', '%_housing_crowded',
       '%_households_below_poverty', '%_age16_unemployed',
       '%_age25_nohighschool', '%_not_working_age', 'per_capita_income',
       'hardship_index', 'Community_Name_y', 'Total Population', '#_White',
       '#_African_American', '#_Asian', '#_Hispanic',
       'Male: Under 5 years old', 'Male: 5 to 9 years', 'Male: 10 to 14 years',
       'Male: 15 to 17 years', 'Male: 18 and 19 years', 'Male: 20 years',
       'Male: 21 years', 'Male: 22 to 24 years', 'Male: 25 to 29 years',
       'Male: 30 to 34 years', 'Male: 35 to 39 years', 'Male: 40 to 44 years',
       'Male: 45 to 49 years', 'Male: 50 to 54 years', 'Male: 55 to 59 years',
       'Male: 60 and 61 years', 'Male: 62 to 64 years',
       'Male: 65 and 66 years', 'Male: 67 to 69 years', 'Male: 70 to 74 years',
       'Male: 75 to 79 years', 'Male: 80 to 84 years',
       'Male: 85 years and over', 'Female: Under 5 years old',
       'Female: 5 to 9 years', 'Female: 10 to 14 years',
       'Female: 15 to 17 years', 'Female: 18 and 19 years', 'Female: 20 years',
       'Female: 21 years', 'Female: 22 to 24 years', 'Female: 25 to 29 years',
       'Female: 30 to 34 years', 'Female: 35 to 39 years',
       'Female: 40 to 44 years', 'Female: 45 to 49 years',
       'Female: 50 to 54 years', 'Female: 55 to 59 years',
       'Female: 60 and 61 years', 'Female: 62 to 64 years',
       'Female: 65 and 66 years', 'Female: 67 to 69 years',
       'Female: 70 to 74 years', 'Female: 75 to 79 years',
       'Female: 80 to 84 years', 'Female: 85 years and over', 'Median Age',
       'Total Households', 'Average Household Size', 'Total Housing Units',
       'Occupied Housing Units', 'Vacant Housing Units',
       'Occupied Housing Units.1', 'Owned with a mortgage or a loan',
       'Owned free and clear', 'Renter occupied', 'TimeOfDay', 'Season',
       'Weekday/Weekend'],
      dtype='object')
         ID                    Date    Community_Name_x  %_housing_crowded  \
0  11034701  01/01/2001 11:00:00 AM         AVALON PARK                1.4
1  11227287  10/08/2017 03:00:00 AM  WASHINGTON HEIGHTS                1.1
2  11227583  03/28/2017 02:00:00 PM             ASHBURN                4.0
3  11227293  09/09/2017 08:17:00 PM            WOODLAWN                2.9
4  11227634  08/26/2017 10:00:00 AM                LOOP                1.5

   %_households_below_poverty  %_age16_unemployed  %_age25_nohighschool  \
0                        17.2                21.1                  10.6
1                        16.9                20.8                  13.7
2                        10.4                11.7                  17.7
3                        30.7                23.4                  16.5
4                        14.7                 5.7                   3.1

   %_not_working_age  per_capita_income  hardship_index       ...         \
0               39.3              24454            41.0       ...
1               42.6              19713            48.0       ...
2               36.9              23482            37.0       ...
3               36.1              18672            58.0       ...
4               13.5              65526             3.0       ...

  Total Housing Units  Occupied Housing Units  Vacant Housing Units  \
0              4295.0                  3924.0                 371.0
1             10365.0                  9482.0                 883.0
2             13060.0                 12451.0                 609.0
3             12114.0                  9400.0                2714.0
4             20557.0                 15494.0                5063.0

   Occupied Housing Units.1  Owned with a mortgage or a loan  \
0                    3924.0                           1990.0
1                    9482.0                           4626.0
2                   12451.0                           8900.0
3                    9400.0                           1718.0
4                   15494.0                           5147.0

   Owned free and clear  Renter occupied          TimeOfDay  Season  \
0                 789.0           1145.0            Morning  Winter
1                1921.0           2935.0           Midnight    Fall
2                1879.0           1672.0  Afternoon/Evening  Spring
3                 410.0           7272.0              Night    Fall
4                1222.0           9125.0            Morning  Summer

   Weekday/Weekend
0          Weekday
1          Weekend
2          Weekday
3          Weekend
4          Weekend

[5 rows x 75 columns]
Shape:  (97, 75)

In [32]:
First100CrimeData = First100CrimeData.drop(['Community_Name_y'], axis = 1)
First100CrimeData.rename(columns = {'Community_Name_x':'Community_Name'}, inplace = True)

In [33]:
import pandasql
query = """
WITH cr AS
(
    SELECT DISTINCT
    Community_Name
    , COUNT(*) AS crimes 
    FROM First100CrimeData
    GROUP BY Community_Name
)
SELECT 
cr.crimes as Num_Crimes
, cr.Community_Name
FROM cr
ORDER BY Num_Crimes DESC, cr.Community_Name;
"""
CommunityNumCrimesDF = pandasql.sqldf(query, globals())
print(CommunityNumCrimesDF.head())
print("# CRIMES TOTAL: ",sum(CommunityNumCrimesDF.Num_Crimes))

   Num_Crimes          Community_Name
0           5  GREATER GRAND CROSSING
1           5                    LOOP
2           5         NEAR NORTH SIDE
3           3                 ASHBURN
4           3          AUBURN GRESHAM
# CRIMES TOTAL:  97